.pull-right{
	float: right;
}
.pull-left{
	float: left;
}

.navbar-custom
{
    background-color: #80cee1;
}
.page-title-box .page-title{
	text-transform: capitalize;
}
input[type="file"]{
	overflow: hidden;
}
/*.orderDetailPage table tbody tr td a img {
    display: inline;
    width: 40px;
}
.orderPricing table tr td{
	padding:8px;
}
.orderPricing table tr td span{
	float: right;
}
.orderPricing table td.total {
    font-weight: bold;
    font-size: 18px;
}*/
.orderDetailPage .card-body p{
	margin-bottom: 5px;
	font-size: 15px;
}
.orderDetailPage .giftLabel{
	width: 100%;
	padding: 15px;
	font-size: 15px;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #FFF;
}
.productInfo table tr th, .productInfo table tr td{
	padding:8px;
}
.widget-rounded-circle .fas{
	line-height: 70px;
	left: 25px;
	position: relative;
}
.paginationBox .pagination{
	justify-content: center !important;
}


